<!DOCTYPE html>

<div class="container">
  <div>
    <div>
      <h1>Lista de cervejas ({{ cervejas.length }})</h1>
    </div>
    <div>
      <div class="row">
        <div class="col-md-2">Filtrar cerveja: </div>
        <div class="col-md-4">
          <input type="text" [(ngModel)]='filtro' />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>Filtrando por: {{ filtro }}</h4>
        </div>
      </div>
    </div>
  </div>

  <table *ngIf="cervejas.length > 0; else nottable" class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Família</th>
        <th>Litragem</th>
        <th>Preço</th>
        <th>Data</th>
        <th>Ranking</th>
        <th>
          <button (click)="mostraCervejas()">
            {{ mostraCerveja ? 'Esconder' : 'Mostrar' }} fotos
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cerveja of cervejas | filtro: filtro">
        <td>{{ cerveja.id }}</td>
        <td>{{ cerveja.nome }}</td>
        <td>{{ cerveja.familia | uppercase }}</td>
        <td>{{ cerveja.litragem | unidadeLitragem:cerveja.unidade | trocaPontoVirgula }}</td>
        <td>{{ cerveja.preco | currency:'BRL':true:'1.2-2' | espacoMoeda | trocaPontoVirgula }}</td>
        <td>{{ cerveja.data | date:'dd/MM/yyyy' }}</td>
        <td>{{ cerveja.ranking }}</td>
        <td id="foto-cerveja">
          <img *ngIf="mostraCerveja" [src]="cerveja.foto">
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #nottable>
    Não há cervejas para serem exibidas!
  </ng-template>
</div>
